<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    <link rel="stylesheet"  href="css/style.css" />
</head>
<body>
    <div id="form">
        <form id="form1">
            <input type="text" id="input" placeholder="please Enter your country">
            <button>find weather</button>
        </form>
    </div>    
    <p class="unhiden">welcom to our website . To konw your country's weather , longtitude and latitude , please enter the name of your country</p>
    <p id="countury"class="hiden"></p>
    <p id="latitude" class="hiden"></p>
    <p id="longtitude" class="hiden"></p>
    <p id="forecast" class="hiden"></p>
    <p id="error" class="hiden"></p>



    <script src="js/script.js"></script>
    {{!-- <script src="js/script.js"></script> --}}
</body>
</html>